body {
    margin: 0;
    /* Hide horizontal scrollbar */
    overflow-x: hidden;
    font-family: 'Nunito Sans', sans-serif;
    font-family: 'Raleway', sans-serif;
    background-color: #fff2f0;
}

.name-Title {
    position: relative;
    width: 60%;
    height: 180px;
    margin-left: 30%;
    margin-right: auto;

}

h1 {
    color: #39261c;
    padding-top: 30px;
    margin-left: 30px;
    text-align: center;
    font-size: 130px;
    letter-spacing: 7px;

}






.about-image {
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 78% 22% 64% 36% / 37% 65% 35% 63%;
    width: 486px;
    height: 491px;
    margin-left: 2%;
    margin-right: 2%;
    margin-top: -8%;
    transition: border-radius 500ms linear 1.2ms;
    border: 2px dotted #40353e;
}

.about-image img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;

}

.about-image:hover {
    border-radius: 25% 75% 35% 65% / 69% 42% 58% 31%;
}

.about-info h2 {
    font-size: 50px;
    font-weight: 500;
    margin-left: 2%;
    margin-bottom: 10px;
    margin-top: 10px;
}

.about-info {
    display: inline-block;
    position: absolute;
    /* background-color: bisque; */
    transform: translateX(200px);
    margin-top: 50px;
    margin-right: auto;
    width: 55%;
    height: 400px;
    transition: transform 2s;
    opacity: 0;
}

.about-info:hover {
    transform: translateX(0);
    opacity: 1;
}

p {
    font-size: 18px;
    font-weight: 300;
    padding-left: 10px;
    padding-right: 10px;
}

#current-title {
    text-align: center;
}

.about-info p span {
    text-align: center;
    display: block;
    padding-top: 10px;
}

.line-colour {
    background-color: rgb(214, 83, 83);
    width: 80%;
    height: 1px;
    margin-top: 4%;
    margin-left: auto;
    margin-right: auto;
}



.section-one {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
    width: 90%;
    height: 500px;
    border-radius: 10px;
}

/*experience section*/

.nav-cards {
    margin-top: auto;
    margin-bottom: 2%;
    transition: all 1s;

}

.nav-cards.experience {
    margin-top: 1%;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin-left: 20%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    transition: all 1s;


}

.nav-cards.experience:hover {
    width: 500px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgb(0, 0, 0, 40%);
}

.nav-cards .experience-img img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 1;
}

.nav-cards-experience-info:hover {
    opacity: 1;
}

.nav-cards.experience:hover .overlay {
    position: absolute;
    background-color: #161d24;
    opacity: .2;
    width: 100%;
    height: 100%;
}


.nav-cards-experience-info {
    position: absolute;
    color: white;
    padding-top: 20px;
    padding-left: 30px;
    opacity: 0;
}




.nav-cards-experience-info h2 {
    font-size: 50px;
    font-weight: 500;
}

.nav-cards-experience-info span {
    display: block;
}

.nav-cards.experience-img img {
    opacity: 0.5;
}

/*education section*/
.nav-cards.education {
    margin-top: 1%;
    position: relative;
    display: inline-block;
    overflow: hidden;
    margin-left: 20%;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    transition: all 1s;


}

.nav-cards.education:hover {
    width: 500px;
    height: 600px;
    border-radius: 20px;
    box-shadow: 0 10px 20px rgb(0, 0, 0, 40%);
}

.nav-cards .education-img img {
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    opacity: 1;
}

.nav-cards.education-img img {
    opacity: 0.5;
}

.nav-cards-education-info:hover {
    opacity: 1;
}

.nav-cards.education:hover .overlay {
    position: absolute;
    background-color: #161d24;
    opacity: .2;
    width: 100%;
    height: 100%;
}


.nav-cards-education-info {
    position: absolute;
    color: white;
    padding-top: 20px;
    padding-left: 30px;
    opacity: 0;
}




.nav-cards-education-info h2 {
    font-size: 50px;
    font-weight: 500;
}

.nav-cards-education-info span {
    display: block;
}

.nav-cards.education-img img {
    opacity: 0.5;
}

/*overlay*/

.overlay {
    position: absolute;
    background-color: #161d24;
    opacity: 0;
    width: 100%;
    height: 100%;
    transition: opacity 1s;
}

.background {
    width: 100%;
    background-color: rgb(255, 163, 157);
    height: 50vh;
    bottom: 0;
}

.footer {
    width: 100%;

    background-color: aliceblue;
    height: 15vh;
    bottom: 0;
}